/*reset*/
*{
    margin: 0;
    padding: 0;
}
/*estilo desktop*/
body{
    background-color: #000000;
}

h1, p, a{
    color: rgb(167, 246, 220);
    text-align: center;
}

h1{
    font-size: 64px;
    font-family: "unbounded", sans-serif;
    font-weight: bold;
    margin-top: 60px;
}

h1 span{
    color: #019c917b;
}

p{
    font-family: "poppins", sans-serif;
    font-size: 24px;
    margin-top: 24px;
}

a{
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #019c917b;
    width: 348px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;  
    margin: 40px auto;
}

a:hover{
    background-color: #0144407b;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

header img{
    display: block;
    margin-top: 75px;
    margin-left: 360px;
}

@media(max-width: 768px){

    body{
        background-color: black;
    }    

    header img{
        margin: 65px 0px 0px 60px;
    }

    h1{
        margin-left: 70px;
        margin-top: 72px;
    }

    p{
        width: 648px;
        margin-left: 75px;
        margin-right: 60px;
        margin-top: 24px;
    }

    a{
        margin-left: 214px;
    }

    section img{
        margin-top: 24px;
        margin-left: 40px;
    }
}

@media(max-width: 375px){

    header img{
        margin: 32px 0px 0px 16px;
    }

    h1{
        font-size: 40px;
        margin-left: 25px;
        width: 340px;
        margin-top: 60px;
    }

    p{
        font-size: 20px;
        width: 340px;
        margin-left: 23px;
    }

    section img{
        width: 340px;
        height: 230px;
    }

    a{
        margin: 40px 62px 40px 18px
    }
}